<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css_js/log_inreg.css">
    <title>Login</title>
</head>
<body>
  <div class="login">
    <h2>Login Page</h2>
    <form action="/login" method="POST">
      <div class="inputs">
        <label for="email">Email:</label>
        <input class="zona_input" type="email" name="email" placeholder="email" id="email" required/>
      </div>
      <div class="inputs">
        <label for="password">Password:</label>
        <input class="zona_input" type="password" name="password" placeholder="parola" id="password" requ/>
      </div>
      <button id="login">Login</button>
    </form>
    <button><a href="./inregistrare">Inregistreaza-te!</a></button>
  </div>
  <script src="./css_js/log_inreg.js"></script>
</body>
</html>

