<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css_js/update.css">
    <title>Update</title>
</head>
<body>
    <h2>Actualizare username</h2>
        <lable>Username nou</lable>
        <input id="update_input" class="zona_input" type="text">
        <button id="updateAccountBtn">Update Cont</button>
    <script src="./css_js/update.js"></script>
</body>
</html>